# Dependencies
node_modules/

# Build
dist/
*.local

# Environment
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# Test / coverage
coverage/
.nyc_output/
Arquivo.zip
